<!DOCTYPE html>
<html>
  <head>
    <title>WeatherAggregator</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.configuration.google_api_key}&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
